<section id="team-3-columns" class="pad-top-25">
    <div class="col-xs-12">
        <div class="subpage-title">
            <h5>Meet Our Team (3 Columns)</h5>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/team-1.jpg"))" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Full Name</h4>
                <span class="position">Co-Founder</span>
                <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                <ul class="social-links">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-sm-6 col-md-4 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/team-2.jpg"))" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Full Name</h4>
                <span class="position">Co-Founder</span>
                <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                <ul class="social-links">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-sm-6 col-md-4 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/team-3.jpg"))" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Full Name</h4>
                <span class="position">Co-Founder</span>
                <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                <ul class="social-links">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
</section>
<!-- /#team-3-columns -->
<section id="team-4-columns" class="pad-0">
    <div class="col-xs-12">
        <div class="subpage-title">
            <h5>Meet Our Team (4 Columns)</h5>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/team-4.jpg"))" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Full Name</h4>
                <span class="position">Co-Founder</span>
                <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                <ul class="social-links">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-sm-6 col-md-3 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/team-5.jpg"))" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Full Name</h4>
                <span class="position">Co-Founder</span>
                <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                <ul class="social-links">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-sm-6 col-md-3 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/team-6.jpg"))" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Full Name</h4>
                <span class="position">Co-Founder</span>
                <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                <ul class="social-links">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-sm-6 col-md-3 team-member-wrap">
        <div class="team-member">
            <div class="member-thumb">
                <img src="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/team-7.jpg"))" class="img-responsive" alt="Member Image">
            </div>
            <div class="member-details">
                <h4 class="member-name">Full Name</h4>
                <span class="position">Co-Founder</span>
                <p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.</p>
                <ul class="social-links">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col-md-3 -->
</section>
<!-- /#team-4-columns -->
